 <div class="container py-5">
 
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="chart-wrapper p-3 bg-white rounded-lg shadow-lg text-center">
                <google-chart
                    #chart
                    [type]="chartType"
                    [data]="chartData"
                    [columns]="chartColumns"
                    [options]="chartOptions"                     
                    [height]="chartHeight"                
                    class="w-100 h-auto">
                </google-chart>
            </div>
        </div>
    </div>

    <!-- Download Button (Icon) -->
    <div class="mt-4 text-center">
        <!-- Uncomment to activate the download button[width]="chartWidth" -->
        <!-- <button (click)="downloadChart(chart)" class="btn btn-primary">
            <i class="fa fa-download me-2"></i> Download Chart
        </button> -->
    </div>
</div>