
<div class="flex h-screen overflow-auto">
  <!-- <app-sidebar *ngIf="isSidebarOpen" [isOpen]="isSidebarOpen" [parentFunction]="handleSidebarOpenClose" [menuItems]="menuItems"></app-sidebar>  -->
  
  <app-layout-sidebar [isOpen]="isSidebarOpen" [parentFunction]="handleSidebarOpenClose" [menuItems]="menuItems"></app-layout-sidebar>
  
  <div class="flex-1 flex flex-col">
    <app-layout-navbar [isOpen]="isSidebarOpen" [parentFunction]="handleSidebarOpenClose"></app-layout-navbar>
    <!-- <app-navbar [isOpen]="isSidebarOpen" [parentFunction]="handleSidebarOpenClose"></app-navbar> -->

    <!-- <button (click)="handleSidebarOpenClose()">banti singh</button><p>Sidebar Open: {{ isSidebarOpen }}</p> -->

    <main class="flex-1 bg-gray-50 p-6 overflow-auto">
      <router-outlet></router-outlet>
    </main>
    

    <!-- Footer -->
 
    <!-- <footer class="bg-teal-800 text-teal-100 py-2 mt-10 text-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 text-center">
        <p class="opacity-75">© 2025 Donation Tracker Dashboard — Making a difference one donation at a time</p>
      </div>
    </footer> -->

    <!-- <footer class="bg-transparent text-sm py-2 mt-10">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 text-center">
        <p class="opacity-75">© 2025 Donation Tracker Dashboard — Making a difference one donation at a time</p>
      </div>
    </footer> -->
    
    

  </div>
</div>
