
<ng-container *ngIf="hasData(); else noDataTemplate">
 
  <ng-container *ngIf="isGrouped">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of tabledata.data; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ group[groupByKey] || 'Group ' + (i + 1) }} ({{ group.records?.length || 0 }} items)
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="group.dataSource" matSort class="">

          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          [pageSize]="5">
        </mat-paginator>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
 
  <ng-container *ngIf="!isGrouped">
    <table mat-table [dataSource]="flatDataSource" matSort class="mat-elevation-z8">

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      #flatPaginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      [pageSize]="5">
    </mat-paginator>
  </ng-container>

</ng-container>

<ng-template #noDataTemplate>
  <div class="no-data-message" style="text-align:center; padding:2rem; color:gray; font-style: italic;">
    No data available to display.
  </div>
</ng-template>
