<!-- <div class="d-flex justify-content-between mb-3">
  <button class="btn btn-primary" (click)="openLeftModal()">Save Report Config</button>
  <button class="btn btn-success" (click)="openRightModal()">Apply Filter</button>
</div>
 
<div class="modal show d-block" tabindex="-1" *ngIf="islEFTOpen" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content rounded-end shadow-lg" style="width: 400px; margin-left: 0;">
      <div class="modal-body p-4">
        <app-report-dynamic></app-report-dynamic>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-success" (click)="closeModal()">Apply Filter</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
 
<div class="modal show d-block" tabindex="-1" *ngIf="isOpen" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down" style="margin-left: auto;">
    <div class="modal-content rounded-start shadow-lg" style="width: 400px; margin-right: 0;">
      <div class="modal-body p-4">
        <app-report-config></app-report-config>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-success" (click)="closeModal()">Apply Filter</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div> -->
