<!-- FLAT TABLE -->
<button class="d-none btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterDrawer">
  <i class="bi bi-funnel-fill"></i> Filter
</button>


<div *ngIf="!isGrouped && pagedFlatRows.length" class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of flatColumns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pagedFlatRows">
        <td *ngFor="let col of flatColumns">{{ row[col] }}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="changeFlatPage('prev')" [disabled]="flatCurrentPage === 1">Prev</button>
    <span>Page {{ flatCurrentPage }} of {{(flatRows.length / itemsPerPage)}}</span>
    <button (click)="changeFlatPage('next')" [disabled]="flatCurrentPage >= (flatRows.length / itemsPerPage)">
      Next
    </button>
  </div>
</div>

<!-- GROUPED TABLE -->
<div *ngIf="isGrouped">
  <div *ngFor="let group of data.data">
    <h3>
      Group:
      <span *ngFor="let field of groupByFields; let last = last">
        {{ group[field] }}<span *ngIf="!last"> | </span>
      </span>
    </h3>

    <table>
      <thead>
        <tr>
          <th *ngFor="let col of groupColumns">{{ col }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of groupedPages[getGroupKey(group)]?.pagedRecords">
          <td *ngFor="let col of groupColumns">{{ row[col] }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="changeGroupPage(getGroupKey(group), 'prev')"
        [disabled]="groupedPages[getGroupKey(group)].currentPage === 1">
        Prev
      </button>
      <span>Page {{ groupedPages[getGroupKey(group)].currentPage }}</span>
      <button (click)="changeGroupPage(getGroupKey(group), 'next')"
        [disabled]="groupedPages[getGroupKey(group)].pagedRecords.length < itemsPerPage">
        Next
      </button>
    </div>
  </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="filterDrawer" aria-labelledby="filterDrawerLabel">
  <div class="offcanvas-header">
    <h5 id="filterDrawerLabel">Filter & Configure</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-common-filters 
       
    ></app-common-filters>
  </div>
</div>