  <button class="btn btn-outline-primary" *ngIf="showFilter" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterDrawer">
      <i class="bi bi-funnel-fill"></i> Filter
  </button>

<div class="table-wrapper p-3 m-3">
  <div *ngFor="let groupKey of groupKeys">
    <!-- Group Header -->
    <h5 class="text-primary mb-2 mt-4">
      <i class="bi bi-diagram-3"></i> {{ groupKey }}
    </h5>

    <!-- Group Table -->
    <table class="custom-table table-bordered table-sm">
      <thead>
        <tr>
          <th *ngFor="let col of columns" class="py-2">{{ col | formatName }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedData[groupKey]; let i = index"
            [ngClass]="i % 2 === 0 ? 'custom-row-even' : 'custom-row-odd'">
          <td *ngFor="let col of columns" class="py-2">
            <div class="scroll-cell">{{ item[col] }}</div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="pagination-controls mt-3">
      <nav aria-label="Page navigation">
         
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item" [class.disabled]="currentPages[groupKey] === 1">
            <button class="page-link"
                    (click)="changePage(groupKey, 'previous')"
                    [disabled]="currentPages[groupKey] === 1">
              Previous
            </button>
          </li>
          <li class="page-item disabled">
            <span class="page-link">
              Page {{ currentPages[groupKey] || 1 }} of {{ totalPages[groupKey] || 1 }}
            </span>
          </li>
          <li class="page-item" [class.disabled]="currentPages[groupKey] === totalPages[groupKey]">
            <button class="page-link"
                    (click)="changePage(groupKey, 'next')"
                    [disabled]="currentPages[groupKey] === totalPages[groupKey]">
              Next
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>



<!-- Right Side Drawer -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="filterDrawer" aria-labelledby="filterDrawerLabel">
  <div class="offcanvas-header">
    <h5 id="filterDrawerLabel">Filter & Configure</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-common-filters >
    </app-common-filters>
  </div>
</div>